.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.my-app {
    border: 1px solid green;
    width: 200px;
    height: 200px;
    padding-top: 100px;
    background: #f5d365;
    border-radius: 15px;
}
